
body{
    text-align: center;
    width: auto;
    background:#ffffff ;/*fond blanc*/
    padding: 0px;/*ecart de remplissage*/
    font-family: 'Shadows Into Light', sans-serif;/*police utilisé*/
    color: #fff
     width: 150px;/*epaisseur du body*/
    
    
    
    
    
    
}
h1{
    text-align: center;/*alignement du titre*/
    height: 250px;/*hauteur du titre*/

    

}

.container{
    text-align: center;/*alignement de la description des images*/
    border: 900px solid #29347B;
    margin: 0 auto;
    background-color:#29347B ;
   width: 900px;
    color: #fff;/*couleur de la police*/
    
    
}
main{
    display:flex; /*agencement des images */
    flex-wrap: wrap;/*agencement des images */
    
}




 figure{
   
   float: left;/*image flottante*/
   width: 22%;
   margin: 1vh 2vw;
   
   


}
figcaption{
    flex1.5em;
}
    

 

 






 


/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito+Sans:wght@200&display=swap')*/;