.hamburger{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hamburger span{
    width: 100px;
    height: 6px;
    background: red;
    transition: opacity 0.3s 0.15s ease-out;

}
.hamburger span:nth-child(1), .hamburger span:nth-child(3){
    transition: transform 0.3s ease-out;
}

.hamburger.open span:nth-child(1){
transform: translateY(66px) rotate(140deg);

}
.hamburger.open span:nth-child(2){
    opacity: 0;
    transition: opacity 0s ease-out;
}

.hamburger.open span:nth-child(3){
    transform: translateY(-66px) rotate(-140deg);
}