/*Media queries permettant de ré-aranger la disposition du site en fonction de la taille du navigateur en px-cf. https://viewportsizer.com/*/
.zone-adaptative{
    background:red;
    color: white;
    padding: 10px;

}

@media (min-width: 768px){
	.zone-adaptative{
		width: 750px;
		background:orange;
		}
}

@media (min-width: 992px){
	.zone-adaptative{
		width: 970px;
		background:blue;
		}
}

@media (min-width: 1200px){
	.zone-adaptative{
		width: 1170px;
		background:rgb(0, 255, 17);
		}
}
