body {
font-size: 30px;
}
h1{
    background-color: darkslategray;/* couleur de fond*/
    color: white;/*couleur de texte*/
}

section, p{
    color: red;/*tout les <p> à l'intérieur de la balise <section>*/
}

section p:first-child{
    color:rgb(40, 243, 9);/*1er p dans la section*/
}

section p:last-child{
    color: cadetblue;/*dernier p dans la section*/
}

section p:nth-child(even){/*numéro de l'enfant*/ 
    /*le p est paire*/
    color: brown;

}
section p:nth-child(odd){/*numéro de l'enfant*/ 
    /*le p est impaire*/
    color: burlywood;
}
section p:nth-child(3),section p:nth-child(10){
    color: aqua;
    /* deux selecteurs sépares par une virgule les numéro 3 et 10 */
}
.zone1{
    color: #dc143c;
}

.zone2{
    color: #008080;
}

.lime{/* CLASS donc avant son nom je mets un . */
    color:#00ff00;
}

#zone3{/* ID donc avant son nom je met un # */
    background-color: #f5deb3;
}

#zone3:before{ /* rajouter contenu avannt l'id ZONE3 */
    content: "rajouté avant";/* content est obligatoire, les contenus ne s'affichent pas dans le html=> attention accessibilité, on peut le laisser vide on peut même rajouter des attributs à une balise attr(title) */
    background-color: cyan;
}

#zone3:after{/* rajouter contenu après l'id ZONE3  */
    content: "rajouté après";
}

li:nth-of-type(2){/* différence entre nth-child et nth-of-type : https://css-tricks.com/the-difference-between-nth-child-and-nth-of-type/ */
background-color: darkred;
color: white;
}
.zone4 span{
    font-size: 40px
    ;
}

span:not(.line){
    font-weight: bold;
}